/* there is a vertical scrollbar produced by "margin collapse" if h1 is the first element in a zul */
h1{
    margin-bottom: 5px;
}

:focus {
    box-shadow: 0 0 3px 3px lightpink;
    background-color: lightyellow;
}