<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml
	Purpose:
		
	Description:
		
	History:
		Thu Sep 17 14:38:25     2009, Created by henrichen

Copyright (C) 2009 Potix Corporation. All Rights Reserved.
-->

<config>
	<taglib>
		<taglib-uri>http://www.zkoss.org/demo/integration/security</taglib-uri>
		<taglib-location>/metainfo/tld/security.tld</taglib-location>
	</taglib>
</config>
