/** This is an example to add lines among tree items.
*/
/* full height vertical line before each treerow for the each child */
.z-treerow-child .z-tree-line:after, .z-treerow-last-child .z-tree-line:after {
    content: '';
    border-left: 1px solid #9B9B9B;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
}

/* remove unnecessary vertical line after the line anchor */

.z-treerow-child .z-tree-line-anchor~.z-tree-line:after, .z-treerow-last-child .z-tree-line-anchor~.z-tree-line:after {
    border-left: none;
}

/* remove unnecessary vertical line before the line anchor */
.z-treerow-child .z-tree-line-omit:after, .z-treerow-last-child .z-tree-line-omit:after {
    border-left: none;
}

/* half vertical line before each treerow for the last child */

.z-treerow-last-child .z-tree-line-anchor:after {
    height: 50%;
}

/* horizontal line for the line anchor */

.z-treerow-child .z-tree-line-anchor:before, .z-treerow-last-child .z-tree-line-anchor:before {
    content: '';
    border-top: 1px solid #9B9B9B;
    height: 1px;
    position: relative;
    left: 5px;
    top: -4px;
    width: 100%;
    display: inline-block;
}