<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- configuration for integration with Spring -->
<hibernate-configuration>

	<session-factory>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.url">jdbc:hsqldb:file:data/store</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		<property name="hbm2ddl.auto">create</property>
		<mapping class="org.zkoss.reference.developer.hibernate.domain.Order" />
		<mapping class="org.zkoss.reference.developer.hibernate.domain.OrderItem" />
	</session-factory>
</hibernate-configuration>
